@import 'bootstrap-sprockets';
@import 'bootstrap';

// Variables
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

//Required for sticky nav bar
body {
  min-height: 2000px;
  padding-top: 90px;
}

.navbar {
  min-height: 80px;
}

// Style for footer
footer {
  margin-top: 45px;
  padding-top: 5px;
  text-align: center;
  color: #999999;
}

// Style for Ace editor
#editor {
  height: 300px;
}

.editor-wrapper {
  position: relative;
  margin: 20px 0;
}

// Modify checkbox indent on login page
.checkbox {
  margin-left: 20px;
}

//Adjust the location of the debug message
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

//Stype for code language badge
.badge {
  margin: 5px;
}

//Style for vote buttons
.like {
  margin: 5px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

// Style for answers

// Style for classrooms

// Style for comments

// Style for locations

// Style for questions

// Style for roles

// Style for votes